* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Navbar-BgColor: #1d2125;
  --Text-Color: #b6c2cf;
  --List-BgColor: #101204;
  --Card-BgColor: #22272b;
  --Modal-BgColor: hsl(204, 16%, 70%);
}

.main__container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Very-Dark-Blue);
}

.board__container {
  min-height: 100vh;
  width: 100%;
  padding: 0 6%;
}

.starred-container {
  min-height: 100vh;
  width: 100%;
  padding: 0 6%;
}

.listCard__container {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  padding: 1% 6%;
  background-color: var(--Very-Dark-Blue);
}

.loader-image {
  width: 15%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: red;
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 2rem;
}
